body{
    margin: 0;
    padding: 0;
    background-color: black; 
    color: whitesmoke;
}
.wrapper{
    font-size: 36px;
}
.wrapper-row{
    display: flex;
    justify-content: space-around;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: 120px;
}